/*.Linear{
	width: 300px;
	height: 200px;
	background-image: linear-gradient
}*/

span {
    font-size: 50px;
	margin: 0;
	background: yellow;
}
img {
	width: 100px;
	height: 100px;
}
.red {

	background: red;
}

a {

	background: yellow;
}

.green {
    
	background: green;
	height: 50px;
	width: 50%;

}

.blue {
	background: blue;
	


}